.main-nav{
  width:100vw;
  max-width: 100%;
  display:block;
  margin-block:.25rem;
  .main-menu{
      list-style:none;
      display:flex;
      flex-direction:row;
      justify-content:center;
      align-items:center;
      flex-wrap:wrap;
      gap:1.5rem 2rem;
      padding:1rem .5rem;
      background-color:#333333;
      box-shadow:0 .05rem .5rem 0 #5b5b5b;
      
      .main-menu-items{
          margin:0;
          padding:0;
          
          .main-menu-links{
              text-decoration:unset;
              color: #ffff;
              font-weight:700;
              font-size:1.1rem;
              letter-spacing:.025rem;

              &:hover{
                  color:#c61f24;
              }
          }
      }
  }
}